html {
  @apply scheme-dark;
}

body {
  @apply bg-slate-950;
}

input[type='text'],
input[type='password'] {
  @apply rounded-lg border border-slate-50/10 bg-slate-900 p-2 caret-sky-500 transition-all outline-none ring-inset placeholder:text-slate-50/60 focus:ring-2 focus:ring-sky-500;
}

button {
  @apply cursor-pointer rounded-lg bg-sky-500 px-3 py-2 text-base font-medium transition-all hover:bg-sky-400 disabled:opacity-40;
}
